
.nav-link {
    color: rgb(228, 11, 166);
}
.nav-link:hover{
    color: rgb(9, 251, 255);
}

.text-center {
    margin-top: 10px;
}

.logo {
    width: 200px;
}

.carro {
    width: 60px;
}

.btn {
    margin: 20px;
}

#galeria .col-lg-3 {
    margin: 0 !important;
    padding: 25px;
}
.ratio .ratio-16x9{
    width: 50%;
}

#titulo1:hover{
    color: blueviolet;
}

iframe {
    margin: 5px;
    width: 80%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.row{
    display: flex;
    justify-content: center;
}



@media only screen and (min-width:360px) {
    .card {
        margin: 20px;
    }

    .carro {
        margin: 100px;
        margin-top: 30px;
    }

    .logo {
        margin: 40px;
    }

    #galeria img:hover {
        border: 2px solid blueviolet;
    }

    #galeria img {
        width: 80%;
        height: 400px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    
    
    .videos iframe {
        margin: 5px;
        width: 80%;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    



}